root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript and JavaScript files
[*.ts, *.tsx, *.js, *.jsx]
indent_size = 2

# HTML files
[*.html]
indent_size = 2

# CSS files
[*.css]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.yml, *.yaml]
indent_size = 2
