/node_modules

# next.js
/.next/

# production
/build

# misc
.DS_Store
.vscode/settings.json
package-lock.json
test-results/

# local env files
.env.development
.env.production

# typescript
next-env.d.ts

*storybook.log
