.container {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.container h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.container p {
  margin: 10px 0;
  color: #666;
}

.textarea,
.input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit__container {
  display: flex;
  flex-direction: column;
}
