.container {
  display: grid;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 10%);
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  color: #6b7280;
  text-align: center;
}

.form {
  margin: 1.5rem 0;
  display: grid;
  gap: 1rem;
}

.error {
  color: #f87171;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
